:root {
    --bg: #050810;
    --text: white;
    --card: rgba(255, 255, 255, 0.02);
    --border: rgba(255, 255, 255, 0.08);
}

.light-mode {
    --bg: #f8fafc;
    --text: #0f172a;
    --card: rgba(255, 255, 255, 0.8);
    --border: rgba(0, 0, 0, 0.05);
}

body {
    background-color: var(--bg);
    color: var(--text);
    font-family: 'Plus Jakarta Sans', sans-serif;
    transition: 0.4s;
    overflow-x: hidden;
}

.glass-card {
    background: var(--card);
    border: 1px solid var(--border);
    backdrop-filter: blur(15px);
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hero-gradient {
    background: radial-gradient(circle at top right, #1e293b, var(--bg));
}

.step-content,
#form-container {
    display: none;
}

.active {
    display: block !important;
    animation: slideUp 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}

/* Animasi Modal */
#imageModal.active {
    display: flex;
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-6px);
    }

    50% {
        transform: translateX(6px);
    }

    75% {
        transform: translateX(-6px);
    }
}

.error-shake {
    animation: shake 0.3s ease-in-out;
    border-color: #ef4444 !important;
}

input,
select,
textarea {
    width: 100%;
    background: rgba(120, 120, 120, 0.05);
    border: 1px solid var(--border);
    border-radius: 1rem;
    padding: 1rem;
    color: inherit;
    outline: none;
    transition: 0.3s;
}

input:focus {
    border-color: #2563eb !important;
}

.iti {
    width: 100%;
}

.iti__country-list {
    color: #000;
    border-radius: 1rem;
    padding: 10px;
}

.light-mode .iti__country-list {
    background: #fff;
}
